#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.page{
  max-width: 800px;
  width: 100%;
  align-items: center;
  justify-content: center;
}


main{
  display: flex;
  justify-content: center;
  width: 100%;
}
form{
  display: flex;
  justify-content: center;
  align-items: center;
}

.movies{
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px
}